# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/*
platforms/*
plugins/*
.idea/*
.idea/watcherTasks.xml


www/lib/*
www/views/*
www/js/*
www/css/*
www/res/*

www/config.xml